version: '3.8'
services:
  contacorrente:
    build: ./ContaCorrente.Api
    container_name: contacorrente
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__Default=Data Source=/data/contacorrente.db
      - Jwt__Key=VeryLongDevelopmentJwtSecretKey_ChangeForProd_0123456789ABCDEFG
      - EnableKafka=false
    volumes:
      - ./data:/data

  transferencia:
    build: ./Transferencia.Api
    container_name: transferencia
    ports:
      - "5001:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Data Source=/data/contacorrente.db
      - Jwt__Key=VeryLongDevelopmentJwtSecretKey_ChangeForProd_0123456789ABCDEFG
      - CONTA_BASE_URL=http://contacorrente
    depends_on:
      - contacorrente
      - kafka

  tarifa:
    build: ./Tarifa.Service
    container_name: tarifa
    environment:
      - Kafka__BootstrapServers=kafka:9092
    volumes:
      - ./data:/data
    depends_on:
      - kafka

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    ports:
      - "9092:9092"

volumes:
  data:
    driver: local
